.titulo{
color: rgb(255 221 38 / 91%);
font-family: Georgia, 'Times New Roman', Times, serif;

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	background:#ccc;
	width:100%;
	
}

body {
	background:#e9e9e9;
}

header {
	background:#1f518a;
	width:100%;
	padding:20px;
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}

header .logo {
	color:#fff;
	font-size:30px;
}

header .logo img {
	width:150px;
	vertical-align: top;
}

header .logo a {
	color:#fff;
	text-decoration: none;
	line-height:100px;
}

.menu {
	list-style: none;
	background-color: rgb(255 221 38 / 91%);
    padding: 20px;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
}

.menu li {
	position: relative;
	display: inline-block;

}

.menu li:hover ul {
	display: block;
}

.menu ul {
	display: none;
	position: absolute;
	top: 100%;
	background-color: rgb(255 221 38 / 91%);
}

.menu ul li a {
	display: block;
    padding: 20px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
	text-decoration: none;
	color: black;
}

.menu li a {
	display: block;
    padding: 20px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
	text-decoration: none;
	color: black;
}
 
/* hover de CSS coincide cuando el usuario interactúa con un elemento con un dispositivo señalador (Cambia de color cuando pasa el mouse)*/
header nav a:hover {
	background:#e74c3c;
}
.main {
	background:#fff;
	padding: 40px;
	flex:1 1 70%;
}
.Banner{
    width: 100%;
    height: 350px;
    
}
.contenedor2{
	background-color: #1f518a;
	width: auto;
	height: auto;
	padding: 0%;    
	display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.imagen {
	padding: 10px;
    width: 340px;
    height: 450px;
}
.carnet{
    width: 600px;
    height: 400px;
}

.menuP {
	background-color: #1f518a;
	width: 20%;
	height: 600px;
}

.contenido {
	background-color: #439bff;
	width: 80%;
	height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
    justify-content: center;
}

.imagen2 {
	margin: 20px;
	border: 20px solid #1f518a;
    width: 340px;
    height: 450px;
}

.parrafo {
	margin: 20px;
	font-size: 22px;

}

.titulo2 {
	margin-top: 15px;
	color: rgb(255 221 38 / 91%);
	font-size: 50px;
}

.contenedor3 {
	background-color: #439bff;
	width: 100%;
	height: 3000px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: stretch;
}

.cuadro {
	background-color: #439bff;
	margin-top: 20x;
	margin-bottom: 20px;
	margin-left: 60px;
}